*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  margin: auto;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  box-sizing: border-box;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  flex-grow: 1;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: 18px;
}
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #ffffff;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  appearance: none;
  background-color: #1b1919;
  color: rgb(255, 255, 255, 0.7);
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  opacity: 0;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  position: relative;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__pseudo-checkbox:checked {
  opacity: 1;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #ffffff;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.search-form__submit-button {
  flex-grow: 0;
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.content__details {
  flex-grow: 1;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: stretch;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.content__card-link_current {
  background-color: #1b1919;
  border: none;
  text-decoration: none;
}

.content__card-link_current:active {
  background-color: #545050;
  text-decoration: none !important;
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__card-link_current:focus-visible {
  border: 1px solid #ffffff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.content__video-card-description {
  font-family: inherit;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  -webkit-line-clamp: 1;
}

.content__video-card-thumbnail {
  block-size: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  min-block-size: 34px;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 2px double #ffffff;
}